/* TODO */



/* Credits/Disclaimer modal. */
#credits_title {

}
#credits_licence {
  color: #00afc1;
}
#credits_referencing {
  color: #00afc1;
}
#credits_heading {
  color: #00afc1;
}
#logo_bh {
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
}
#logo_uofa {
  height: 80px;
  padding-left: 16px;
  padding-right: 16px;
}


/* Flash long/lat */
.flash {
  background-color: #b6dfff;
}


